h1{
    font-size: 44px;
    color: rgb(57, 51, 46);
    border: 25px solid rgb(57,80,50);
    border-radius: 25px;
    background-color: darkolivegreen;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

body{
    background-color: #000;
}

img{
    border: 25px solid rgb(57, 80,50);
    border-radius: 100px;
}

p{
    font-size: 33px;
    color:rgb(20, 37, 15);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(57, 80,50);;
}

.img2{
    border: 15px solid #fff;
    border-radius: 55px;
}

.h1{
    font-size: 66px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border:23px solid #4c3026;
    border-radius: 15px;
    background-color: #6f4537;
}   
